*{
    margin: 0;
    padding: 0;

    color: white;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

/* backgrounds and body  setup */
body{
    margin: 0;
    padding: 0;

    background: url(img/lines.jpg) no-repeat fixed,  url(img/sun.png) no-repeat fixed, linear-gradient(rgb(27, 4, 70) 10%, rgb(169, 12, 201) 60%) fixed;
    background-size: 100% 50%, 40vw, cover;
    background-position: bottom, center;
    
}


/* main container */
main{
    position: absolute;
    top: 0;
    left: 10%;

    width: 80%;
    height: 100vh;

    scrollbar-color: #00a5cb black;
    scrollbar-width:auto;
    
    display: flex;
    flex-direction: column;

    /* border: red solid 2px; */
}
main > section, header{
    padding:5vh;
    margin-bottom: 100px;

    font-size:140%;

    width: 60%;

    background-color: rgb(0, 0, 0, 0.4);
    border-radius: 1em;
    backdrop-filter: blur(3px)
}
header{
    width: 100%;
    align-self: center;
}
main > section:nth-child(2n){
    align-self: end;
    text-align: right;
}

/* links */
a{
    color: white;
    text-decoration: none;
}
a:hover{
    text-shadow: red .07em 0, blue -.07em 0;
    text-decoration: underline;
    animation: abberation .2s steps(2);
}
@keyframes abberation{
    0%{text-shadow: red .07em 0, blue -.06em 0;}
    60%{text-shadow: blue -.06em 0;}
    100%{text-shadow: blue .06em 0, red -.06em 0;}
}