*{
    margin: 0;
    padding: 0;

    color: white;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

/* backgrounds and body  setup */
body{
    margin: 0;
    padding: 0;

    background: url(img/lines.jpg) no-repeat fixed,  url(img/sun.png) no-repeat fixed, linear-gradient(rgb(27, 4, 70) 10%, rgb(169, 12, 201) 60%) fixed;
    background-size: 100% 50%, 40vw, cover;
    background-position: bottom, center;
    
}
#lines{
    position: sticky;
    top: 50%;
}
#lines hr{
    position: absolute;
    color: #00a5cb;
    background-color: #00a5cb;
    width: 99.9%;

    animation: movement 1s infinite ease-out;
}
@keyframes movement{
    from{
        top: 99vh;
        height: 2vh;
    }
    to{
        top: 50vh;
        height: 1px;
        opacity: 40%;
    }
}

/* main container */
main{
    position: absolute;
    top: 0;
    left: 10%;

    width: 80%;
    height: 100vh;

    overflow: scroll;
    scrollbar-color: #00a5cb black;
    scrollbar-width:auto;
}
main > section{
    padding:5vh;
    margin-bottom: 100px;

    font-size:140%;

    background-color: rgb(0, 0, 0, 0.4);
    border-radius: 1em;
    backdrop-filter: blur(3px)
}

/* links */
a{
    font-weight: bold;
    color: white;
    text-decoration: none;
}
a:hover{
    text-shadow: red .05em 0, blue -.05em 0;

    animation: abberation .2s steps(2);
}
@keyframes abberation{
    0%{text-shadow: red .05em 0, blue -.04em 0;}
    60%{text-shadow: blue -.04em 0;}
    100%{text-shadow: blue .04em 0, red -.04em 0;}
}